<!DOCTYPE html>
<html>
<head>
<title>OpinApp</title>
</head>
<body>

<h1>OpinApp</h1>

<ul>
{% for product in product_list %}
  <li>
  	<p>{{ item.title }}</p>
		{# <a href= {{ Opinion_URL }}> #}
		<img src={{ product.thumbnail }} alt={{ product.title }}>
  </li>
{% endif %}
</ul>
</body>
</html>
