<!DOCTYPE html>
<html>
<head>
<title>OpinApp</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
</style>
</head>
<body>

<h1>OpinApp</h1>

<ul>
{% for product in product_list %}
  <li>
  	<p>{{ product.title }}</p>
		<a href= /api/v1/get_reviews_by_product_id/{{ product.id }}> 
		<img src={{ product.thumbnail }} alt={{ product.title }}>
  </li>
{% endfor %}
</ul>
</body>
</html>




